MathServiceClient/Connected Services/MathServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/MathService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrarySuccess" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:decimal" />
        <xs:element minOccurs="0" name="b" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrarySuccess" minOccurs="0" name="AddResult" nillable="true" type="q1:MathAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:decimal" />
        <xs:element minOccurs="0" name="b" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrarySuccess" minOccurs="0" name="SubtractResult" nillable="true" type="q2:MathAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:decimal" />
        <xs:element minOccurs="0" name="b" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrarySuccess" minOccurs="0" name="MultiplyResult" nillable="true" type="q3:MathAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divde">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:decimal" />
        <xs:element minOccurs="0" name="b" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivdeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrarySuccess" minOccurs="0" name="DivdeResult" nillable="true" type="q4:MathAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>